header#header
    nav.navbar.navbar-expand-lg.navbar-light.bg-success
        .container
            a.navbar-brand.text-white(href="/") Creative Hub
            button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav")
                span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
                ul.navbar-nav.ms-auto
                    li.nav-item
                        a.nav-link(href="/experiences/list") Experience
                    li.nav-item
                        a.nav-link(href="/projects/list") Projects
